<div class="row">
  <div class="col-xs-12">
    <form
      (ngSubmit)="onFormSubmit(shoppingListForm)"
      #shoppingListForm="ngForm"
    >
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            ngModel
            required
            #name="ngModel"
          />
          <span *ngIf="name.touched && !name.valid">Field is required.</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            class="form-control"
            ngModel
            required
            #amount="ngModel"
            [ngModel]="defaultAmount"
            [pattern]="'^[1-9]+[0-9]*'"
          />
          <span *ngIf="amount.touched && !amount.valid && !amount.errors?.min"
            >Field is required.</span
          >
          <span *ngIf="amount.touched && amount.errors?.min"
            >Field is invalid (amount must be a positive number).</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!shoppingListForm.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            (click)="onItemDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>

          <button class="btn btn-secondary" (click)="onFormClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
