<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/recipes']"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/shopping-list']"
            >Shopping list</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav show">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#">Manage</a>
          <!-- <ul class="dropdown-menu show" appDropdown> -->
          <ul class="dropdown-menu show" appDropdown>
            <li>
              <a class="dropdown-item" (click)="onSaveData()">Save Data</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onFetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
